@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/root" as *;

/*
    Buttons
-------------------------------------
*/

.btn {
  @include flex-center();
  background-color: $color__orange;
  color: $color__gray-dark;
  font-weight: $font-weight__bold;
  width: var(--button__width);
  line-height: 1;
  border-radius: var(--button__border-radius);
  cursor: pointer;
  border: none;
  position: relative;
  @include transition();
  padding: 0 var(--content__space-s);
  &:hover {
    background-color: $color__gray-dark;
    color: $color__blue-light;
  }
}

.primary,
.secondary {
  &:hover:not(.nav-subtitle) {
    margin-left: var(--content__space-xs);
  }
  i {
    margin-left: 0.3rem;
  }
}

.primary {
  font-size: var(--button__font-size);
  height: var(--button__height);
}
.secondary {
  font-size: var(--button-submit__font-size);
  height: var(--button-submit__height);
}
