@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/root" as *;

/*
    Form
-------------------------------------
*/

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  font-family: $font-style__primary;
  background-color: $color__gray-dark;
  color: $color__gray;
  font-size: var(--font-size__text);
  font-weight: $font-weight__regular;
  width: 100%;
  height: var(--form-input__height);
  border-bottom: 2px solid $color__gray;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  padding: var(--content__space-xs) 0;
  margin: .3rem 0;
  outline: solid 2px transparent;
  @include transition();
  &:hover {border-bottom: 2px solid transparent;}
  &::placeholder {
    font-size: var(--font-size__text);
    font-weight: $font-weight__light;
    color: $color__gray;
  }
  &:focus::placeholder {color: $color__orange;}
  &:focus,
  &:active {
    background-color: $color__gray-light;
    color: $color__orange;
    border-bottom: 2px solid transparent;
    border-radius: var(--form-input__border-radius);
    padding: 0.5rem;
  }
  &:focus-visible {outline: solid 2px;}
}

textarea {
  height: var(--textarea__height);
  max-height: 100px;
  max-width: 600px;
  resize: none;
}

// Consent
.consent {
  margin-bottom: var(--content__space-s);
  .accept {
    background-color: transparent;
    font-family: $font-style__secondary;
    border: 0;
    text-decoration: underline;
    cursor: pointer;
    @include transition();
    &:hover {
      text-decoration-color: $color__blue-light;
    }
  }
  .accept,
  .show {
    font-size: var(--consent__font-size);
    font-weight: $font-weight__light;
    color: $color__gray;
    margin: var(--content__space-s);
  }
}

// cf7 Components
.wpcf7-response-output,
.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  font-size: var(--consent__font-size);
  font-weight: 400;
  color: $color__blue-light;
  border: 0;
  margin: var(--content__space-m) 0;
  padding: 0;
}
.wpcf7-not-valid-tip {
  position: absolute;
  top: var(--top__position);
  left: 0;
  font-size: var(--valid__font-size);
  color: $color__blue-light;
  z-index: 1;
}

// Checkbox
.wpcf7-list-item {
  position: relative;
  margin: var(--content__space-m) 0 var(--content__space-s) var(--content__space-m);
  .wpcf7-list-item-label {
    font-size: var(--consent__font-size);
    color: $color__gray;
  }
  input[type="checkbox"] {
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    opacity: 0;
    + {
      span {
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: -2rem;
          top: 0;
          height: var(--checkbox__size);
          width: var(--checkbox__size);
          border-radius: var(--form-input__border-radius);
          cursor: pointer;
        }
        &::before {
          border: 2px solid $color__orange;
        }
        &::after {
          background: $color__orange none repeat scroll 0 0;
          opacity: 0;
          @include transition();
        }
      }
    }
    &:checked {
      + {
        span {
          &::after {opacity: 1;}
        }
      }
    }
  }
}

/*
    Media queries
-------------------------------------
*/

@media screen and (max-width: 599px) {
  .wpcf7-form {
    .accept,
    .show {font-size: 0.85rem;}
    .cta {@include flex-center();}
  }
}