@use "variables" as *;

/*
    Root
-------------------------------------
*/

:root {
  // Navigation
  --navigation__height: 125px;
  --navigation__height-scrolled: 100px;
  --navigation__font-size: 1.675rem;
  --menu-item__spacing: 0 2rem;

  --navigation__width-mobile: 25%;
  --navigation__height-mobile: 100vh;

  --navigation-toggle__width: 54px;
  --navigation-toggle__height: 40px;
  --navigation-toggle-span__height: 6px;

  // Section
  --section__space: 6rem;
  --section__division-s: 40%;
  --section__division-m: 45%;
  --section__division-l: 55%;
  --section__division-xl: 60%;

  // Content
  --content__max-width-s: $content__max-width-s;
  --content__max-width-m: $content__max-width-m;
  --content__max-width-l: $content__max-width-l;
  --content__spacing: 0 1rem;

  --content-box__spacing: 2rem 3rem;

  --content__max-height: 831px;
  --content__space-xs: 0.5rem;
  --content__space-s: 1rem;
  --content__space-m: 2rem;
  --content__space-l: 3rem;
  --content__border-radius: 1rem;
  --content__box-shadow: 0px 0px 10px 0px rgba(171, 178, 178, 1);
  // Mobile
  --content__space-xs-mobile: 0.5rem;
  --content__space-s-mobile: 1rem;
  --content__space-m-mobile: 2rem;

  // Fonts
  --font-style__primary: $font-style__primary;
  --font-style__secondary: $font-style__secondary;

  // Font size
  --font-size__global: 1.25rem;
  --font-size__text: 1.25rem;

  --font-size__header-m: 1.775rem;
  --font-size__header-l: 2.5rem;
  --font-size__header-xl: 4.688rem;

  // Font weight
  --font-weight__light: $font-weight__light;
  --font-weight__regular: $font-weight__regular;
  --font-weight__medium: $font-weight__medium;
  --font-weight__bold: $font-weight__bold;

  // Colors
  --color__orange: $color__orange;
  --color__gray: $color__gray;
  --color__gray-dark: $color__gray-dark;
  --color__white: $color__white;
  --color__blue-light: $color__blue-light;
  --color__black: $color__black;

  // Colors tech
  --color__javascript: $color__javascript;
  --color__react: $color__react;
  --color__html-5: $color__html-5;
  --color__css-3: $color__css-3;
  --color__sass: $color__sass;
  --color__wordpress: $color__wordpress;
  --color__git: $color__git;

  // Colors socials
  --color__google: $color__google;
  --color__linkedin: $color__linkedin;
  --color__github: $color__github;

  // Arrow
  --arrow-width: 50px;
  --arrow-height: 50px;
  --arrow__font-size: 1.5rem;

  // Title
  --title__spacing: 6rem 0;
  --title__spacing-optional: 12rem 0 6rem 0;
  --title__space: 1rem;

  // Gallery cards
  --gallery-card__height: 395px;
  --gallery-card__max-width: 825px;
  --gallery-card__max-height: 405px;
  --gallery-card__order: 1;

  // News cards
  --news-card__height: 355px;
  --news-card__max-height: 346px;

  // Skills
  --icons__font-size: 8rem;
  --icons__spacing: 5rem;

  // Gallery template
  --gallery-template-image__height: 600px;
  --gallery-template-image__min-width: 135px;
  --gallery-template-image__margin-top: 5rem;

  // Form
  --form-input__height: 50px;
  --textarea__height: 80px;
  --form-input__border-radius: 0.4rem;
  --consent__font-size: 1rem;
  --valid__font-size: 0.75rem;
  --checkbox__size: 25px;
  --top__position: 3rem;

  // Button
  --button__font-size: 0.90rem;
  --button-submit__font-size: 1rem;
  --button__width: 125px;
  --button-submit__width: 175px;
  --button__height: 40px;
  --button-submit__height: 50px;
  --button__border-radius: .6rem;

  // Sticky
  --sticky__position: 50%;
  --sticky-signature__font-size: 1rem;
  --sticky-button__width: 50px;
  --sticky-content__width: 250px;
  --sticky-content__height: 130px;

  --sticky-icon__font-size: 2.5rem;
  --sticky__hide-value: -200px;
  --sticky-__width-clicked: 150px;

  --sticky-after__vertical-position: calc(2rem + -1px);
}

/*
    Media queries
-------------------------------------
*/

@media screen and (max-width: 1564px) {
  :root {
    // Gallery
    --gallery-card__content-height: auto;
    --gallery-card__height: 345px;

    // Skills
    --icons__font-size: 7rem;

    // Font size
    --font-size__global: 1.125rem;
    --font-size__text: 1.125rem;

    // Form
    --top__position: 2.8rem;
  }
}

@media screen and (max-width: 1399px) {
  :root {
    // Navigation
    --navigation__width-mobile: 40%;

    --navigation-toggle__width: 46px;
    --navigation-toggle__height: 36px;

    --navigation-toggle-span__height: 5px;

    // Font size
    --font-size__header-m: 1.575rem;
    --font-size__header-l: 2.25rem;
    --font-size__header-xl: 4rem;

    // Section
    --section__space: 5rem;

    // Content
    --content__space-l: 2rem;

    --arrow__font-size: 1.4rem;
    --arrow-width: 45px;
    --arrow-height: 45px;

    // Title
    --title__spacing: 5rem 0;
    --title__spacing-optional: 11rem 0 5rem 0;

    // Gallery cards
    --gallery-card__spacing: 7rem;
    --gallery-card__margin-bottom: 0.5rem;

    // Skills
    --icons__font-size: 6rem;

    // Gallery template
    --gallery-template-image__height: 500px;
    --gallery-template-image__min-width: 100px;

    // Sticky
    --sticky-signature__font-size: 0.85rem;
    --sticky-button__width: 40px;
    --sticky-content__width: 200px;
    --sticky-content__height: 115px;

    --sticky-icon__font-size: 2rem;
    --sticky-__width-clicked: 125px;
  }
}

@media screen and (max-width: 1199px) {
  :root {
    // Navigation
    --navigation__height: 100px;
    --navigation__height-scrolled: 85px;
    --navigation__font-size: 1.575rem;
    --navigation__width-mobile: 50%;
    --navigation__opacity: 1;

    // Font size
    --font-size__global: 1rem;
    --font-size__text: 1rem;

    // Form
    --consent__font-size: 0.90rem;
    --top__position: 2.6rem;

    // Buttons
    --button__height: 35px;
    --button-submit__height: 45px;

    // Gallery cards
    --gallery-card__height: 300px;
    --gallery-card__spacing: 5rem;

    // News cards
    --news-card__content-height: 325px;
    --content-box__spacing: 1rem 2rem;

    // Gallery template
    --gallery-template-image__min-width: 85px;
  }
}

@media screen and (max-width: 1099px) {
  :root {
    // News cards
    --news-card__content-height: 300px;
  }
}

@media screen and (max-width: 999px) {
  :root {
    // Content
    --content__space-l: 1rem;
    --content__space-s: 0.5rem;

    // Font size
    --font-size__header-m: 1.375rem;
    --font-size__header-l: 2rem;
    --font-size__header-xl: 3.75rem;

    // Arrow
    --arrow__font-size: 1.3rem;
    --arrow-width: 40px;
    --arrow-height: 40px;

    // News cards
    --news-card__content-height: auto;
    --content-box__spacing: 1rem;

    // Gallery cards
    --gallery-card__height: auto;
    --gallery-card__order: 0;

    // Skills
    --icons__division: 33.333%;
    --icons__font-size: 5rem;

    // Gallery template
    --gallery-template-image__height: 355px;
  }
}

@media screen and (max-width: 849px) {
  :root {
    // Font size
    --font-size__header-m: 1.275rem;
    --font-size__header-l: 1.875rem;
    --font-size__header-xl: 3.375rem;
  }
}

@media screen and (max-width: 767px) {
  :root {
    // Navigation
    --navigation__height: 85px;
    --navigation__height-scrolled: 75px;
    --navigation__width-mobile: 100%;

    --navigation-toggle__width: 40px;
    --navigation-toggle__height: 32px;

    // Section
    --section__space: 4rem;

    // Content
    --content__padding: 0 1rem;
    --section__division-s: auto;
    --section__division-m: auto;
    --section__division-l: auto;
    --section__division-xl: auto;

    // Title
    --title__spacing: 4rem 0;
    --title__spacing-optional: 9rem 0 4rem 0;

    // Form
    --top__position: 2.4rem;

    // Button
    --button__font-size: 0.90rem;
    --button__height: 30px;
    --button-submit__height: 40px;

    // News card
    --news-card__max-height: auto;

    // Gallery template
    --gallery-template-image__min-width: 25px;

    // Sticky
    --sticky-button__width: 32px;
    --sticky-content__width: 150px;
    --sticky-content__height: 100px;
    --sticky-__width-clicked: 100px;
  }
}

@media screen and (max-width: 599px) {
  :root {
    // Scrolled
    --navigation__main-height-scrolled: 75px;
    --navigation-toggle__width-scrolled: 38px;
    --navigation-toggle__height-scrolled: 30px;
    --navigation__logo-max-width-scrolled: 65%;

    // Section
    --section__space: 3rem;

    // Title
    --title__spacing: 3rem 0;
    --title__spacing-optional: 8rem 0 3rem 0;

    // Font size
    --font-size__header-xl: 2.575rem;

    // Gallery cards
    --gallery-card__spacing: 3rem;

    // Skills
    --icons__division: 50%;
    --icons__spacing: 3rem;

    // Form
    --form-input__height: 40px;
  }
}