/*
    Variables
-------------------------------------
*/

// Containers
$content__max-width-s: 1200px;
$content__max-width-m: 1500px;
$content__max-width-l: 1920px;

// Fonts
$font-style__primary: 'Roboto Condensed', sans-serif;
$font-style__secondary: 'Saira Stencil One', sans-serif;

// Font weight
$font-weight__light: 300;
$font-weight__regular: 400;
$font-weight__medium: 500;
$font-weight__semi-bold: 600;
$font-weight__bold: 700;

// Colors
$color__orange: #D19A5E;
$color__gray: #ABB2B2;
$color__gray-light: #262A31;
$color__gray-dark: #21252B;
$color__white: #FFFFFF;
$color__blue-light: #43A3EF;
$color__black: #000000;

$color__header: $color__orange;
$color__text: $color__gray;

// Colors tech
$color__javascript: #F4BF75;
$color__react: #194D33;
$color__html-5: #AB7558;
$color__css-3: #3965BD;
$color__sass: #CC6699;
$color__wordpress: #21759B;
$color__git: #F1502F;

// Colors socials
$color__google: #4285F4;
$color__linkedin: #2867B2;
$color__github: #2dba4e;