@use "../../abstracts/mixins" as *;
@use "../../abstracts/root" as *;
@use "../../abstracts/variables" as *;

/*
    Privacy Policy
-------------------------------------
*/

.privacy-policy {
  margin-bottom: var(--section__space);
  .info__content {
    .info__header {margin: var(--content__space-s) 0;}
    .info__text.margined{margin-top: var(--content__space-s);}
    .info__list {list-style: disc;
      .info__item {
        font-weight: $font-weight__light;
        margin-left: var(--content__space-m);
      }
    }
  }
}

/*
    Media queries
-------------------------------------
*/

@media screen and (max-width: 600px) {
  .privacy-policy {
    &__content {
      .privacy-policy-title__header {margin: 1.5rem 0;}
      ul {
        li {margin-left: 1rem;}
      }
    }
  }
}